<!-- This html page displays the game section -->
<div class="container-fluid">
  <div class="row">
    <div id="player" class="col-2"></div>
    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <div id="scenery" class="row d-flex flex-wrap justify-content-center">

          </div>
        </div>
        <div class="col-12">
          <div id="description" class="row d-flex flex-wrap justify-content-center">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div id="submitChoice" class="col-2"></div>
        <div id="choice" class="col-10"></div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div id="browseSummary" class="col-2"></div>
        <div id="summary" class="col-10"></div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>